body {
    background-image: url("https://4kwallpapers.com/images/wallpapers/new-york-city-skyline-panorama-sunset-skyscrapers-3840x2160-4645.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}