<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="home.html">Home</a>
        <a href="crime.html">Crime</a>
        <a href="env.html">Environment</a>
        <a href="trans.html">Transportation</a>
        <a href="job.html">Jobs</a>
        <a href="energy.html">Energy</a>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>