<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spinningchuckers</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="navbar">
        <a href="#home" class="navtab">Home</a>
        <a href="#crime" class="navtab">Crime</a>
        <a href="#environment" class="navtab">Environment</a>
        <a href="#transportation" class="navtab">Transportation</a>
        <a href="#jobs" class="navtab">Jobs</a>
        <a href="#energy" class="navtab">Energy</a>
    </div>
    <div id="main">
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d24176.69454164788!2d-73.9770368!3d40.7601152!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1683650921577!5m2!1sen!2sus" width="1200" height="870" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="tabbar">
            <div id="home" class="tab">home</div>
            <div id="crime" class="tab hidden">crime</div>
            <div id="environment" class="tab hidden">environment</div>
            <div id="transportation" class="tab hidden">transportation</div>
            <div id="jobs" class="tab hidden">jobs</div>
            <div id="energy" class="tab hidden">energy</div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>