<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="../static/css/log.css">
    </head>

    <body>
        <h1>
            Login Page
        </h1>

        <h3>
            Enter your username below to procced
        </h3>

        <form action="/home" method="POST">
            <input type="text" name="username">
            <input type="password" name="pswd">
            <input type="submit" name="logged">
        </form>

        <h3>
          {% if message %}
            {{message}}
          {% endif %}
        </h3>

        <h4>Don't have an account?</h4>
        <form action="/register" method="GET">
          <button type="submit">Register</button>
        </form>
    </body>
</html>